<!-- templates/playlists_index.html -->
{% extends 'base.html' %}

{% block content %}

<h1 style='text-align: center;'>Vinyls</h1>
</br>
<div class='container'>
    <div class='row'>
        {% for vinyl in vinyls %}
        <div class='col-md-4 col-sm-3'>
            <div class='card'>
                <div class='card-block'>
                    <img class="mongo-images" src={{vinyl.image}} width='250' height='350'>
                        <div class='middle'>
                            <form method='POST' action='/vinyls/{{ vinyl._id }}/add'>
                                <button class='btn' type='submit'>Add To Cart</button>
                            </form>
                        </div>

                    <div class='card-title'>
                        <h4>{{ vinyl.album }}</h4>
                    </div>
                    <div class='card-text'>
                        <p>{{ vinyl.artist }}</p>
                        <p>{{ vinyl.price }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<button id="myBtn"><a href="#top" style="color: white">Top</a></button>
{% endblock %}


