<!-- templates/playlists_index.html -->
{% extends 'base.html' %}

{% block content %}

<div class='row'>

{% for vinyl in vinyls %}
<div class='col-md-4'>
    <div class='card' style='width: 18rem;'>

        <h4 class='card-title'>{{ vinyl.album }}</h4>
        <h6 class='card-subtitle text-muted'>{{ vinyl.artist }}</h6>

        <img class="mongo-images" src={{vinyl.image}} width='250' height='350'>

        <div class='card-body'>
            <p>{{ vinyl.price }}</p>
        </div>

    </div>

<button type="button" class="btn btn-default">Add to Cart</button>
</div>

{% endfor %}

</div>

{% endblock %}


